/* body{
    height: 100vh;
} */

.container{
    display:flex;
    background-color: whitesmoke;
    margin: 1rem;
    height: auto;
    overflow-y: auto;

}

.sections{
    flex-direction: column;
    width: 40%;
    height: 100vh;
    margin: 1rem;
}