.experience{
    display: flex;
    flex-direction: column;
    margin: 0.5em;
    padding: 1em;

}

.header {
    text-align: center;
}

.top-part{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}