.Resume{
    width: 60%;
    background-color: white;

    margin: 1em;

    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

/* .form{
    margin: 1em;
    display: flex;
    flex-direction: column;
} */

.pers{
    /* border: 2px solid blue; */
    margin: 1em;
}

h2{
    text-align: center;
}

.Information{
    display: flex;
    align-items: center;
    justify-content: center;
}

hr{
    height: 1px;
    background-color: black;
    width: auto;

}

.verticalLine {
    width: 0.5px; /* Thickness of the line */
    height: 30px; /* Adjust the height as needed */
    background-color: black; /* Color of the line */
    margin: 0 10px; /* Adds some space on both sides */
}


/* Education Section */
.edu{
    /* padding: 3em; */
    display:flex;
    flex-direction: column;
    margin: 1em;
}

.lineOne, .lineTwo{
    display: flex;
    justify-content: space-between;
}

.lineTwo{
    flex-direction: row-reverse;
}

.time{
    display: flex;
    flex-direction: row;
}

/* Experience Section  */

.exp{
    /* padding: 3em; */
    display:flex;
    flex-direction: column;
    margin: 1em;
}